/*
 * Basic Project Factory Theme - CAS
 * @author Fabien CRESPEL <fabien@crespel.net>
 */

@import url(common.css);

body {
	padding: 37px 50px 0 50px !important;
	color: #585858;
	background-color: #f1efe2 !important;
}

a:link, a:visited, a:focus, a:hover {
	color: #116699;
}


/*************/
/* Container */
/*************/

#container {
	margin: 60px auto 20px auto !important;
	background-color: white;
	border: 1px solid #cccccc;
	box-shadow: 0 0 10px #999999;
}


/**********/
/* Header */
/**********/

header {
	padding: 30px 0;
}

header h1 {
	float: none;
	width: auto;
	height: auto;
	background: none;
	text-indent: 0;
	color: #222222;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}

.status-section header {
	display: none;
}


/***********/
/* Content */
/***********/

#content {
	background-color: transparent;
}

#content h2 {
	margin-top: 0;
	font-size: 18px;
}

#content .btn-submit,
#content .btn-submit[disabled]:hover,
#fm1 .row .btn-submit,
#fm1 .row .btn-submit[disabled]:hover {
	color: white;
	background-color: #337ab7;
	border: 1px solid #2e6da4;
}
#content .btn-submit:hover,
#content .btn-submit:focus,
#fm1 .row .btn-submit:hover,
#fm1 .row .btn-submit:focus {
	background-color: #286090;
	border-color: #204d74;
}


/*----------*/
/* Messages */
/*----------*/

.alert h1,
.alert h2 {
	margin-top: 0;
	font-size: 18px;
	font-weight: bold;
}


/*------------*/
/* Login form */
/*------------*/

#login {
	padding: 20px;
	background-color: transparent;
}

#login form > h2 {
	display: block;
	margin: 0 0 20px 0;
	font-size: 14px;
}

#login form > h2 ul {
	margin: 10px 0 20px 25px;
	padding: 0;
	list-style-type: circle;
}

#login form > h2 ul li {
	margin: 0 0 5px 0;
}

#login .row {
	margin: 10px 0;
}

#login .login-header {
	display: none;
}

#login .check input[type=checkbox] {
	margin-top: 0;
}

#login .check label {
	padding-left: 5px;
}

#fm1 + div {
	display: none; /* Forgot password link */
}


/*********************/
/* Responsive design */
/*********************/

@media only screen and (max-width: 960px) {
	body {
		padding-left: 0 !important;
		padding-right: 0 !important;
		background-color: white !important;
	}

	#container {
		margin: 20px 0 !important;
		background: none;
		border: none;
		box-shadow: none;
	}

	header {
		padding: 20px 0;
	}

	#login {
		padding: 10px;
	}
}
