/*
 * Basic Project Factory Theme - GitLab
 * @author Fabien CRESPEL <fabien@crespel.net>
 */

@import url(common.css);

header.navbar-gitlab {
	top: 37px;
}

.page-with-sidebar {
	padding-top: 87px !important;
}

.page-with-sidebar .sidebar-wrapper {
	top: 37px !important;
}

.layout-nav {
	top: 87px !important;
}

.page-with-layout-nav .right-sidebar {
	top: 139px !important;
}
