/*
 * Basic Project Factory Theme - GitLab
 * @author Fabien CRESPEL <fabien@crespel.net>
 */

@import url(common.css);

header.navbar-gitlab.navbar-gitlab {
	top: 37px;
}

.fullscreen-layout > .navbar-gitlab {
	margin-top: 37px;
}

.page-with-sidebar .nav-sidebar,
.page-with-sidebar .right-sidebar {
	top: 77px;
}

.page-with-sidebar .content-wrapper.page-with-new-nav {
    margin-top: 77px;
}

.layout-page .nav-sidebar,
.layout-page .right-sidebar {
	top: 77px;
}

.layout-page .content-wrapper {
    margin-top: 77px;
}
