/*------------------------*/
/* Application stylesheet */
/*------------------------*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#content {
	position: relative;
}

.form-inline {
	margin-bottom: 10px;
}

.loading-backdrop {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: rgba(255,255,255,0.65);
}

.loading-backdrop-table {
	 display: table;
	 width: 100%;
	 height: 100%;
}

.loading-backdrop-cell {
	 display: table-cell;
	 text-align: center;
	 vertical-align: middle;
}

.loading-backdrop-cell .block {
	text-align: center;
	font-size: 26px;
}

.loading-backdrop-cell .block:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
