<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,IE=11,IE=10,IE=9"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<meta name="description" content="Platform Manager"/>
	<title>Platform Manager</title>
	<link type="text/css" th:href="@{/css/deps.css}" rel="stylesheet"/>
	<link type="text/css" th:href="@{/css/main.css}" rel="stylesheet"/>
	<link type="text/css" href="/portal/themes/default/css/manager.css" rel="stylesheet"/>
</head>

<body>
	<div class="container-fluid">
		<!-- Header -->
		<div id="header" class="row">
			<h1>Platform Manager</h1>
		</div>

		<!-- Main area -->
		<div id="main" class="row">
			<div class="col-md-12">
				<!-- Content -->
				<div id="content" class="row">
					<h2>Error</h2>
					<p>An unexpected error occurred. Please try again, or contact an administrator with the following information:</p>
					<dl class="dl-horizontal">
						<dt>Date:</dt>
						<dd th:text="${timestamp}"/>
						<dt>Type:</dt>
						<dd th:text="${error}"/>
						<dt>Status:</dt>
						<dd th:text="${status}"/>
						<dt>Message:</dt>
						<dd th:text="${message}"/>
					</dl>
					<a th:href="@{/}" class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						Back
					</a>
				</div>
			</div>
		</div>
	</div>

	<script src="/portal/toolbar.php?format=js&amp;tab=manager"></script>
</body>

</html>
