<!DOCTYPE html>
<html data-ng-app="pf-manager" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,IE=11,IE=10,IE=9"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<meta name="description" content="Platform Manager"/>
	<title>Platform Manager</title>
	<base th:href="@{/}"/>
	<link type="text/css" th:href="@{/css/deps.css}" rel="stylesheet"/>
	<link type="text/css" th:href="@{/css/main.css}" rel="stylesheet"/>
	<link type="text/css" href="/portal/themes/default/css/manager.css" rel="stylesheet"/>
</head>

<body>
	<div class="container-fluid">
		<!-- Header -->
		<div id="header" class="row">
			<h1>Platform Manager</h1>
		</div>

		<!-- Main area -->
		<div id="main" class="row ng-cloak">
			<div class="col-sm-9 col-md-9 col-lg-10">
				<!-- Content -->
				<div id="content" class="row" cg-busy="activePromises">
					<!-- Alerts -->
					<div id="alerts" data-ng-controller="AlertController">
						<div id="alert-error" class="alert alert-danger alert-dismissible hide">
							<button type="button" class="close"><span aria-hidden="true">&times;</span></button>
							<strong>{{ 'ERROR' | translate }}<span data-ng-show="error.status &amp;&amp; error.status > 0"> ({{ 'ERROR_CODE' | translate }} {{error.status}})</span>:</strong>
							{{error.data.message || 'ERROR_UNKNOWN' | translate }}
						</div>
						<div id="alert-warning" class="alert alert-warning alert-dismissible hide">
							<button type="button" class="close"><span aria-hidden="true">&times;</span></button>
							{{warning.data.message}}
						</div>
						<div id="alert-success" class="alert alert-success alert-dismissible hide">
							<button type="button" class="close"><span aria-hidden="true">&times;</span></button>
							{{success.data.message}}
						</div>
						<div id="alert-info" class="alert alert-info alert-dismissible hide">
							<button type="button" class="close"><span aria-hidden="true">&times;</span></button>
							{{info.data.message}}
						</div>
					</div>

					<!-- Current view -->
					<div data-ng-view=""></div>
				</div>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-2">
				<!-- Sidebar -->
				<div id="sidebar" class="row">
					<h3>{{ 'MENU' | translate }}</h3>
					<ul>
						<li><a href="account">{{ 'MY_ACCOUNT' | translate }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/js/deps.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script src="/portal/toolbar.php?format=js&amp;tab=manager"></script>

	<script type="text/ng-template" id="loading.html">
		<div class="loading-backdrop-table">
			<div class="loading-backdrop-cell">
				<div class="block">
					<i class="fa fa-spinner fa-spin fa-lg"></i> {{ 'LOADING' | translate }}
				</div>
			</div>
		</div>
	</script>
</body>

</html>
